<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sec1="http://www.thymeleaf.org/extras/spring-security"
      xmlns:w3="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!--

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">-->
    <title>Magneto's Megafoods About Us</title>
</head>
<body>
<!--Navbar-->
<div th:insert="base::navbar"></div>
<div class="container">
<br><br><br>

    <div class="jumbotron">
        <h1 class="display-4">Surendra K Bijukchhe</h1>
        <p class="lead">A Java developer with Oracle certification in Java along with MS in software engineering and experience building web applications. Excellent knowledge of web programming technologies: Java EE, Spring MVC, Spring Boot, JDBC, JPA, Hibernate, Apache Tomcat application server, MAVEN for project dependency management, JSP, HTML5, CSS3, Bootstrap, Ajax, Angular, Thymeleaf, MS SQL Server, MySQL and Oracle SQL along with Android Apps Development using Java. Strong communication skills, Quick-Learner, enthusiastic, committed and self-driven..
        </p>
        <hr class="my-4">
        <p>Github Username: sbijukchhe <br>LinkedIn: https://www.linkedin.com/in/surendrabijukchhe/</p>
        <a class="btn btn-success btn-lg" href="https://www.linkedin.com/in/surendrabijukchhe/" role="button">Learn more</a>
    </div>


    <div class="jumbotron">
        <h1 class="display-4">Erica Jenise Gleaton</h1>
        <p class="lead">Polymath: a person of wide-ranging knowledge or learning. Professional Polymath: PMP | AWS SA Associate | SEC+ | CSM | CEH | GRCP | MOS Master | ITILv3 | Lean Six Sigma (Y) | A+</p>
        <hr class="my-4">
        <p>Github Username: ericagleaton <br>LinkedIn: https://www.linkedin.com/in/ericagleaton/</p>
        <a class="btn btn-success btn-lg" href="https://www.linkedin.com/in/ericagleaton/" role="button">Learn more</a>
    </div>



    <div class="jumbotron">
        <h1 class="display-4">Margo Kelly</h1>
        <p class="lead">Experienced technical professional with an established history in administration, troubleshooting, operation and monitoring of broadcast audio systems with a recent Master's degree in Computer Science from American University.
        </p>
        <hr class="my-4">
        <p>Github Username: mkelly1 <br>LinkedIn: https://www.linkedin.com/in/margo-kelly-247ba11/</p>
        <a class="btn btn-success btn-lg" href="https://www.linkedin.com/in/margo-kelly-247ba11/" role="button">Learn more</a>
    </div>



<br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--Footer-->
<div th:insert="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>