<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sec1="http://www.thymeleaf.org/extras/spring-security"
      xmlns:w3="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Magneto's Megafoods: Add Products</title>
</head>
<body>
<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br><br><br>
<div class="container">
<h1>Add Product Form</h1>  
<form action="#"th:action="@{/process}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br />
    Description :<textarea rows="3" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />
    Price :<input type="text" th:field="*{price}" />
    <span th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"></span><br />
    urls :<input type="text" th:field="*{imageURL}" />
    <span th:if="${#fields.hasErrors('imageURL')}"
          th:errors="*{imageURL}"></span><br />
    Active :<input type="text" th:field="*{active}" />
    <span th:if="${#fields.hasErrors('active')}"
          th:errors="*{active}"></span><br />
    <br />  
    <input type="submit" value="Submit" />
</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<!--Footer-->

<div th:insert="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>